ZIC/zic_RenapoPersons/src/main/java/ConsultaCurpDetalleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.wserv.ecurp.dgti.segob.gob.mx" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://services.wserv.ecurp.dgti.segob.gob.mx/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.wserv.ecurp.dgti.segob.gob.mx">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.wserv.ecurp.dgti.segob.gob.mx/xsd">
            <xs:complexType name="DatosConsultaDetalles">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cveAlfaEntFedNac" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cveEntidadEmisora" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cveUsuario" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="direccionIp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoTransaccion" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://services.wserv.ecurp.dgti.segob.gob.mx/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.wserv.ecurp.dgti.segob.gob.mx">
            <xs:import namespace="http://services.wserv.ecurp.dgti.segob.gob.mx/xsd"/>
            <xs:element name="getConfirm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="Mssg" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarCurpDetalle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="datos" nillable="true" type="ax21:DatosConsultaDetalles"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultarCurpDetalleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getConfirmRequest">
        <wsdl:part name="parameters" element="ns:getConfirm"/>
    </wsdl:message>
    <wsdl:message name="consultarCurpDetalleRequest">
        <wsdl:part name="parameters" element="ns:consultarCurpDetalle"/>
    </wsdl:message>
    <wsdl:message name="consultarCurpDetalleResponse">
        <wsdl:part name="parameters" element="ns:consultarCurpDetalleResponse"/>
    </wsdl:message>
    <wsdl:portType name="ConsultaCurpDetalleServicePortType">
        <wsdl:operation name="getConfirm">
            <wsdl:input message="ns:getConfirmRequest" wsaw:Action="urn:getConfirm"/>
        </wsdl:operation>
        <wsdl:operation name="consultarCurpDetalle">
            <wsdl:input message="ns:consultarCurpDetalleRequest" wsaw:Action="urn:consultarCurpDetalle"/>
            <wsdl:output message="ns:consultarCurpDetalleResponse" wsaw:Action="urn:consultarCurpDetalleResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsultaCurpDetalleServiceSoap11Binding" type="ns:ConsultaCurpDetalleServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getConfirm">
            <soap:operation soapAction="urn:getConfirm" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="consultarCurpDetalle">
            <soap:operation soapAction="urn:consultarCurpDetalle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConsultaCurpDetalleServiceSoap12Binding" type="ns:ConsultaCurpDetalleServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getConfirm">
            <soap12:operation soapAction="urn:getConfirm" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="consultarCurpDetalle">
            <soap12:operation soapAction="urn:consultarCurpDetalle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConsultaCurpDetalleServiceHttpBinding" type="ns:ConsultaCurpDetalleServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getConfirm">
            <http:operation location="getConfirm"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="consultarCurpDetalle">
            <http:operation location="consultarCurpDetalle"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConsultaCurpDetalleService">
        <wsdl:port name="ConsultaCurpDetalleServiceHttpsSoap11Endpoint" binding="ns:ConsultaCurpDetalleServiceSoap11Binding">
            <soap:address location="https://websdes.curp.gob.mx:443/WebServicesConsulta/services/ConsultaCurpDetalleService.ConsultaCurpDetalleServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ConsultaCurpDetalleServiceHttpSoap11Endpoint" binding="ns:ConsultaCurpDetalleServiceSoap11Binding">
            <soap:address location="http://websdes.curp.gob.mx:-1/WebServicesConsulta/services/ConsultaCurpDetalleService.ConsultaCurpDetalleServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ConsultaCurpDetalleServiceHttpsSoap12Endpoint" binding="ns:ConsultaCurpDetalleServiceSoap12Binding">
            <soap12:address location="https://websdes.curp.gob.mx:8443/WebServicesConsulta/services/ConsultaCurpDetalleService.ConsultaCurpDetalleServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ConsultaCurpDetalleServiceHttpSoap12Endpoint" binding="ns:ConsultaCurpDetalleServiceSoap12Binding">
            <soap12:address location="http://websdes.curp.gob.mx:-1/WebServicesConsulta/services/ConsultaCurpDetalleService.ConsultaCurpDetalleServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ConsultaCurpDetalleServiceHttpEndpoint" binding="ns:ConsultaCurpDetalleServiceHttpBinding">
            <http:address location="http://websdes.curp.gob.mx:-1/WebServicesConsulta/services/ConsultaCurpDetalleService.ConsultaCurpDetalleServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="ConsultaCurpDetalleServiceHttpsEndpoint" binding="ns:ConsultaCurpDetalleServiceHttpBinding">
            <http:address location="https://websdes.curp.gob.mx:8443/WebServicesConsulta/services/ConsultaCurpDetalleService.ConsultaCurpDetalleServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
